body{
    background-image: url(https://images.unsplash.com/photo-1551376347-075b0121a65b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80);
    font-family: 'Bebas Neue', cursive;
    font-size: large;
}
h1{
    margin-top: 80px;
    text-align: center;
    font-family: 'Festive', cursive;
    font-size:100px;
    color:rgb(217,98,121);
}
nav{
    background-color: rgb(217,98,121);
    font-family:sans-serif;
}
a{
    color:black;
}
#d1{
    display: flex;
    flex-direction: column;
    width:100%;
    margin-top: 40px;
}
#md{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#b1,#b2{
    margin:20px 20%;
}
button{
    width:100%;
}
p{
    text-align: center;
    padding-left: 20px;
}
h2{
    padding-left: 20px;
    margin-top:40px;
    margin-bottom: 20px;
}
#features{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#mlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-info{
    background-color: rgb(217,98,121);
    border-top: rgb(217,98,121);
}
h3{
    margin-top: 80px;
    text-align:end;
    margin-right:10px;
}